In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Covid Data.csv')

In [2]:
print(df.shape)
df.head()

(1048575, 21)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [3]:
df = df[(df.PNEUMONIA == 1) | (df.PNEUMONIA == 2)]
df = df[(df.DIABETES == 1) | (df.DIABETES == 2)]
df = df[(df.COPD == 1) | (df.COPD == 2)]
df = df[(df.ASTHMA == 1) | (df.ASTHMA == 2)]
df = df[(df.INMSUPR == 1) | (df.INMSUPR == 2)]
df = df[(df.HIPERTENSION == 1) | (df.HIPERTENSION == 2)]
df = df[(df.OTHER_DISEASE == 1) | (df.OTHER_DISEASE == 2)]
df = df[(df.CARDIOVASCULAR == 1) | (df.CARDIOVASCULAR == 2)]
df = df[(df.OBESITY == 1) | (df.OBESITY == 2)]
df = df[(df.RENAL_CHRONIC == 1) | (df.RENAL_CHRONIC == 2)]
df = df[(df.TOBACCO == 1) | (df.TOBACCO == 2)]
df = df[(df.INTUBED == 1) | (df.INTUBED == 2)]
df = df[(df.ICU == 1) | (df.ICU == 2)]
df["DEATH"] = [0 if each=="9999-99-99" else 1 for each in df.DATE_DIED]
df.PREGNANT = df.PREGNANT.replace(97,2)
df = df[(df.PREGNANT == 1) | (df.PREGNANT == 2)]
df.drop(columns=["DATE_DIED"], inplace=True)
print(df.shape)
df.head()

(189281, 21)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,...,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU,DEATH
2,2,1,2,2,1,2,55,2,1,2,...,2,2,2,2,2,2,2,3,2,1
5,2,1,1,2,2,1,40,2,2,2,...,2,2,2,2,2,2,2,3,2,0
8,2,1,1,2,2,2,37,2,1,2,...,2,1,2,2,1,2,2,3,2,0
9,2,1,1,2,2,2,25,2,2,2,...,2,2,2,2,2,2,2,3,2,0
11,2,1,2,2,2,2,24,2,2,2,...,2,2,2,2,2,2,2,3,2,0

In [4]:
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()
df['AGE'] = standard_scaler.fit_transform(df.loc[:,['AGE']])

# Subset 1000 rows from the dataframe where the value of the column Diabetes is 1
df_test_death = df[df['DEATH'] == 1].sample(n=500, random_state=1)
df_test_no_death = df[df['DEATH'] == 0].sample(n=500, random_state=1)

# Concatenate the two dataframes
df_train = df.sample(n=10000, random_state=1)
df_test = pd.concat([df_test_death, df_test_no_death], axis=0)

In [5]:
# Convert DEATH column to list
ground_truth = df_test["DEATH"].tolist()
df_test.drop(columns=["DEATH"], inplace=True)

In [6]:
import pickle
# Write dataframe to file
df_train.to_csv('covid_train.csv', index=False)
df_test.to_csv('covid_test.csv', index=False)
print(len(ground_truth))
print(df_train.shape)
print(df_test.shape)
with open("ground_truth.pickle", "wb") as f:
    pickle.dump(ground_truth, f)

1000
(10000, 21)
(1000, 20)